<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.javacourse.servlet.listener.ListenerServletContext</listener-class>
    </listener>
    <listener>
        <description>ServletContextAttributeListener</description>
        <listener-class>edu.javacourse.servlet.listener.ListenerContextAttribute</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>edu.javacourse.servlet.listener.ListenerHttpSession</listener-class>
    </listener>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>edu.javacourse.servlet.listener.ListenerHttpSessionAttribute</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>edu.javacourse.servlet.listener.ListenerServletRequest</listener-class>
    </listener>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
