# idea
out
.idea/

# netbeans
build
dist
/servlets/InitParameters/nbproject/private/
/servlets/FilterExample/nbproject/private/
/servlets/SessionExample/nbproject/private/
/servlets/TextImageExample/nbproject/private/
/servlets/ListenerExample/nbproject/private/
/servlets/AsynchronCallExample/nbproject/private/
/servlets/FileUploadExample/nbproject/private/
/servlets/AsyncIoExample/nbproject/private/
/streams/ChannelFirst/nbproject/private/
/streams/FileFirst/nbproject/private/
/streams/FileSystem/nbproject/private/
/streams/ChannelExample/nbproject/private/
/reflection/PasswordGen01/nbproject/private/
/reflection/PasswordGen02/nbproject/private/
/reflection/PasswordGen03/nbproject/private/
/reflection/PasswordGen04/nbproject/private/
/reflection/PasswordGen05/nbproject/private/
/reflection/PasswordGen06/nbproject/private/
/reflection/JavaApplication7/nbproject/private/
/reflection2/TestClassLoader/nbproject/private/
/reflection2/TestClassLoader01/nbproject/private/
/reflection2/JavaApplication9/nbproject/private/
/reflection2/JavaApplication10/nbproject/private/
/reflection2/SimpleHello/nbproject/private/
/reflection2/HelloService/nbproject/private/
/reflection2/SimpleHello2/nbproject/private/
/reflection2/JavaBeanExample/nbproject/private/
/reflection2/GenericReflection/nbproject/private/
/reflection2/ServiceLoaderExample/nbproject/private/